@import 'lib/_reset';
@import 'lib/_type';
@import 'lib/_creative-homeworks';
@import 'lib/_utils';
@import 'lib/_wp';
@import 'lib/_archive-testimonials';
@import 'lib/_components';
@import 'lib/_cleanup';

/* .site-footer nav {
    display: none !important;
} */

main.wp-block-group {
    padding-left: 0;
    padding-right: 0;
}
