@import 'lib/_reset';
@import 'lib/_type';
@import 'lib/_creative-homeworks';
@import 'lib/_utils';
@import 'lib/_wp';
@import 'lib/_components';
@import 'lib/_cleanup';

/* .breakout-image {
    position: absolute;
    top: 0;
    height: 100%;
    width: calc(var(--width) - var(--wp--preset--spacing--small));
    object-fit: cover;
    z-index: 0;

    &.left {
        left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &.center {
        left: 50%;
        transform: translateX(-50%);
    }

    &.right {
        right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    @media (max-width: 1312px) {
        position: relative;
        width: 100%;
        height: auto;
    }
} */
/* 
.wp-block-acf-breakout-image {
    height: 100%;
} */

/* ul.custom-icon-list {
    font-size: inherit;
    color: currentColor;

    li {
        padding-left: 0.5rem;

        &::marker {
            content: attr(data-icon);
        }
    }
} */

.stars {
    position: relative;

    path {
        fill: var(--wp--preset--color--orange);
    }

    &::after {
        content: '';
        height: 100%;
        width: calc((1 - var(--rating) / 5) * 100%);
        /* background: red; */
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        backdrop-filter: grayscale(100%);
    }
}

.acf-innerblocks-container {
    display: contents;
}
