<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main
    class="wp-block-group"
    style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0"
>
    <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
    <!-- wp:spacer {"height":"1rem"} -->
    <div style="height: 1rem" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
